*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.title{
    padding: 20px;
    text-align: center;
    width: 100vw;
    height: 40px;
    border-bottom: 1px white solid;
    background-image: linear-gradient( rgb(34, 34, 34) , rgb(20, 0, 68));
    a{
        text-decoration: none;
    }
    padding-bottom: 30px;
}

body{
    background-image: linear-gradient( to right, rgb(20, 0, 68), rgb(34, 34, 34) );
    
    
}
.container{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{

    padding-top: 40px;
    width: 30vw;
    border: 1px white solid;
    position: relative;
    border-radius: 10px;
}
#palito{
    height: 40px;
    position: fixed;
    
}
#name{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.val{
    color: rgb(125, 197, 125);
}
.leyenda{
    margin-top: 40px;
    
    display: flex;
    gap: 19px;
    span{
        color: rgb(204, 204, 204);
        font-size: 10px;
    }
    margin-bottom: 5px;
}
