*{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
body{
    background-color: lightblue;
    
    background-image: url(../img/bg4.webp);
    background-size: 500px;
    animation: moveBackground 100s linear infinite;
}
.main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 10px;
    
    text-align: center;
    h1{
        font-size: 3em;
        color: rgb(0, 0, 0);
    }
    a{
        color: black;
        text-decoration: none;
    }
    background-color: rgb(255, 255, 255);
}
.main-inner{
    
    
    display: inline;
    width: 90vw;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    backdrop-filter: blur(3px);
    
   
}
.menu{
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 40px 40px 0px 0px ;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    form{
        margin-right: 0px;
    }
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -1500%;
  }
}

input{
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 100px;
    border: 1px white solid;
    margin: 3px;
}
#crear, #actualizar{
    background-color: aliceblue;
    width: 40px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
#rectDisplay{
    display: flex;
    flex-wrap: wrap;
}
.button{
    color: black;
    border: 0px solid ;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    height: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(3px);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}